/* ------------------------------- */
/* --------Universal Fixes-------- */
/* ------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

html {
  box-sizing: border-box; /* Universal Border Box with inheritance part 1 */
  font-size: 62.5% !important; /* for easier math with 10px assuming a 16px default size */
}
*,
*:before, /* Universal Border Box with inheritance part 2*/
*:after {
  box-sizing: inherit;
}

:root {
  --black: #272727;
  --blacker: #1b1b1b;
  --transblacker: rgba(27, 27, 27, 0.8);
  --blue: #3da4e0;
  --red: #ff3137;
  --transwhite: rgba(255, 255, 255, 0.6);
  --roboto: "Roboto", Arial, sans-serif;
  --montserrat: "Montserrat", Verdana, sans-serif;
}
body {
  background-color: var(--blacker);
  height: 100%;
}
.page-container {
  width: 100vw;
  max-width: 2159px; /* Just so everything doesn't expand apart and break when zooming out. This is the width on my 4k monitor, and going beyond this things start falling apart. As an added bonus you can now zoom out if you think it's too big, which it is (at least home lol) */
  overflow-x: hidden; /* Screw horizontal scrollbars */
  min-height: 100%;
  background-color: var(--black);
  margin: 0 auto; /* to center if zoomed out */
  position: relative;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 2rem;
  color: white;
}

h1,
h2 {
  font-family: var(--montserrat);
  margin: 0;
  font-weight: 700;
  font-size: 3rem;
  color: white;
}
h3 {
  font-family: var(--montserrat);
  margin: 0;
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
}

p {
  font-size: 1.6rem;
  margin: 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}
.redbutton {
  background-color: var(--red);
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(255, 49, 55, 0.72);
  font-size: 20px;
  border: 1px solid transparent; /* To ensure button doesn't change size on hover */
  font-weight: 400;
  letter-spacing: 0.11rem;
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.3s;
}
.transbutton {
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.11rem;
  border: 1px solid white;
  transition: background-color 0.3s, color 0.3s;
}
.redbutton:hover,
.redbutton:focus {
  background-color: white;
  color: var(--red);
  border: 1px solid var(--red);
  box-shadow: 0 3px 0 rgba(255, 49, 55, 0.72);
}
.redbutton:active {
  box-shadow: none;
  transform: translateY(
    3px
  ); /* Make the button behave like a button when pressed */
}
.transbutton:hover,
.transbutton:focus {
  background-color: white;
  color: var(--blacker);
}

/* ------------------------------- */
/*        Universal Fixes End      */
/* ------------------------------- */

/* ------------------------------- */
/*               Header            */
/* ------------------------------- */
header {
  width: 100vw; /* To ensure the NAV doesnt fall apart when zoomed out */
  max-width: 2159px; /* -- ^ -- */
}
.nav-container {
  display: grid;
  grid-template: 80px 60px repeat(4, min-content) / [left] 14px 60px 100px 50px 1fr min-content 14px [right];
  grid-template-areas:
    ".      bars   logo   logo  .... signin ."
    "search search search ..... .... ...... ."
    "user   user   user   ..... .... ...... ."
    "usnav  usnav  usnav  ..... .... ...... ."
    "ruler  ruler  ruler  ..... .... ...... ."
    "nav    nav    nav    ..... .... ...... .";
  position: fixed; /*  I decided to use fixed to make the dropdown simply overlap rather than move
                       elements out of the way when activated at the top of the page */
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; /* To make the menu stay aligned with body if screen is zoomed out */
  width: 100vw; /* --^--- */
  max-width: 2159px; /* --^--*/
  z-index: 5;
  overflow-y: auto; /* in case someone wants to squeeze the window height below 500px for whatever reason */
  justify-items: start;
  align-items: start;
  pointer-events: none; /* To make transparent areas of the grid click-through when it expands */
  padding: 0;
}
.nav-container > * {
  pointer-events: visible; /* Making everything else clickable in their respective areas */
}
.hamburger {
  grid-area: bars;
}
.logo-parent {
  grid-area: logo;
}
.signin {
  grid-area: signin;
}
.searchbar {
  grid-area: search;
}
.usersettings {
  grid-area: user;
}
.accountnav {
  grid-area: usnav;
}
hr.nav-hide {
  grid-area: ruler;
}
.navbuttons {
  grid-area: nav;
}

.header-backdrop {
  background-color: var(--blacker);
  grid-column: left / right;
  grid-row: 1 / 2;
  height: 80px;
  width: 100%;
  border-bottom: 2px solid var(--transwhite);
}
.logo-parent {
  justify-self: center;
  align-self: center;
}
.logo {
  width: auto;
  margin-bottom: 5px;
  height: 55px;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
  font-size: 40px;
  height: 50px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
  border: 1pt solid rgba(255, 255, 255, 0.2);
  transition: border 0.3s ease-in;
}
.hamburger:focus,
.hamburger:hover {
  border: 1pt solid var(--transwhite);
}

i.fas.fa-bars {
  padding: 0;
}

a.signin {
  justify-self: end;
  align-self: center;
  margin-top: 10px;
  width: 90px;
  padding: 5px 0;
  font-size: 16px;
  margin-bottom: 3px; /* Box-shadow adjustment */
}

/*------------ NAV STUFF ------------------*/

/* Checkbox hacks + container styling */
#dropdown-menu,
#accountdrop {
  display: none;
}
.nav-hide,
.accountnav {
  display: none;
}

#dropdown-menu:checked ~ .nav-hide {
  display: flex;
}
.usersettings {
  flex-flow: row;
  height: 100%;
  width: 160px;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px;
  background-color: var(--blacker);
}
.usersettings:focus {
  outline: var(--blue) 1px solid;
}

.fas.fa-angle-down,
.fas.fa-angle-up {
  color: var(--transwhite);
  transition: color 0.3s ease-in;
}
.fas.fa-angle-down:hover,
.fas.fa-angle-up:hover {
  color: white;
}
#dropdown-menu:checked ~ hr.nav-hide {
  display: block;
  margin: 0;
  width: 160px;
  border: 1px solid rgba(70, 70, 70, 0.6);
  border-left: none;
  border-right: none;
  background-color: var(--blacker);
  padding: 2px 0;
}

#accountdrop:checked ~ .accountnav {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding-left: 0;
  padding-bottom: 20px;
  background-color: var(--blacker);
}
ul.navbuttons {
  flex-flow: column;
  margin: 0;
  border-radius: 0 0 3px 0;
  padding: 20px 0;
  background-color: var(--blacker);
}

/* making the arrow flip when account menu is open */
.fas.fa-angle-up {
  display: none;
}
#accountdrop:checked ~ .usersettings .fas.fa-angle-up {
  display: inline-block;
}
#accountdrop:checked ~ .usersettings .fas.fa-angle-down {
  display: none;
}
/* Checkbox hacks + container styling END */
/* SEARCH */

div.searchbar {
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  padding: 14px;
  background-color: var(--blacker);
}
.searchbar input {
  font-family: var(--roboto);
  background-color: var(--black);
  border: 1px solid var(--transwhite);
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding-left: 5px;
  width: 86px;
  height: 31px;
  color: white;
  letter-spacing: 0.008rem;
  transition: border 0.3s ease-in-out, width 0.5s ease-in-out;
}
.searchbar input::placeholder {
  /* Placeholder text will not inherit font-family, so I'm forcing it to */
  font-family: var(--roboto);
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
  letter-spacing: 0.008rem;
}
.searchbar input:focus,
.searchbar input:hover {
  outline: none;
  border: 1px solid white;
  border-right: none;
}

.searchbar a {
  font-size: 18px;
  color: #707070;
  background-color: var(--black);
  border: 1px solid var(--transwhite);
  border-left: none;
  height: 31px;
  padding: 3px 10px;
  border-radius: 0 3px 3px 0;
  align-self: center;
  transition: color 0.3s ease-in, border 0.3s ease-in-out;
}
.searchbar a:hover,
.searchbar a:focus {
  color: white;
}
.searchbar input:focus ~ a,
.searchbar input:hover ~ a {
  /*ensuring border covers the entire searchbar */
  border: 1px solid white;
  border-left: none;
}
/* SEARCH END */
/* Navigation buttons styling */

.usersettings img {
  margin-right: 10px;
  height: 31px;
  color: var(--black);
  background-color: white;
  padding: 4px 12px;
  border-radius: 3px;
}

ul.navbuttons > li:first-child > a,
ul.accountnav > li:first-child > a {
  border-top: 0.5px solid var(--black);
}
.navbuttons a,
.accountnav a {
  display: block;
  color: var(--transwhite);
  width: 160px;
  padding: 10px 0 10px 40px;
  border-bottom: 0.5px solid var(--black);
}

.navbuttons a:hover,
.navbuttons a:focus,
.accountnav a:hover,
.accountnav a:focus {
  color: white;
  border-left: 3px solid white;
}
.navbuttons a.active {
  color: var(--blacker);
  background-color: var(--transwhite);
  border-left: none;
}

/* ------------------------------- */
/*            Header END           */
/* ------------------------------- */

/* ------------------------------- */
/*            Footer               */
/* ------------------------------- */
.footer-container {
  background-color: var(--blacker);
  color: var(--transwhite);
  height: 100%;
  width: 100vw;
  max-width: 2159px;
  align-self: end;
  display: flex;
  position: relative;
  flex-flow: column-reverse;
  justify-content: center;

  padding: 60px 14px 50px 14px;
  text-align: center;
  line-height: 2.2; /* For underline on hover. It wouldnt show otherwise idk */
  border-top: 30px solid #ffffff05;
}

footer p {
  font-size: 1.6rem;
  width: auto;
}

footer small {
  font-size: 1rem;
  white-space: nowrap;
}

.footer-top {
  min-width: 0;
  width: 100%;
  margin-bottom: 30px;
  flex: none; /* To prevent container from resizing */
}
.footer-bottom {
  flex: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-copyright {
  flex: 1 1 100%; /* To center */
}
.footer-top-blocks {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0;
  align-items: center;
  width: 100%;
}
.footer-top-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  width: 100%;
}
.footer-block {
  flex: none; /* To keep each square same size */
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-top-blocks ul:nth-of-type(2),
.footer-top-blocks ul:nth-of-type(3) {
  padding-top: 10px;
}
.footer-li {
  padding: 0;
  white-space: nowrap;
  flex: 1 1 100%; /* To make each element take up the same amount of space */
}
.footer-block li:nth-of-type(2) {
  margin-left: 15px;
}
.fab.fa-twitter-square {
  margin-left: 10px;
}
footer .fab {
  font-size: 24px;
  line-height: 1;
  border-bottom: 1px solid transparent; /* To prevent border from moving the entire flexbox */
  padding-bottom: 1px; /* for bottom-border */
}
.footer-li.social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer-top-inline li:nth-of-type(2) {
  padding-left: 1.5em;
  margin-left: 1.5em;
  border-left: 1px solid currentColor;
}
.footer-top li {
  cursor: pointer;
}
.footer-top li p:hover,
.footer-top li p:focus {
  color: white;
  text-decoration: underline;
}
.footer-top .fab:hover,
.footer-top .fab:focus {
  color: white;
  border-bottom: 1px solid white;
}

/* ------------------------------- */
/*            Footer END           */
/* ------------------------------- */

/* ------------------------------- */
/*       PAGE SPECIFIC CONTENT     */
/* ------------------------------- */

/* ------------------------------- */
/*               HOME              */
/* ------------------------------- */
/* Z indexes */
.backdrop-square,
.hero-image {
  z-index: 0;
}

.homebanner,
.homebrowse,
.homebottom,
.footer-container {
  z-index: 2;
}
/* --------- MAIN CONTAINER -------------*/

.home-container {
  display: grid;
  grid-template:
    ".... .... ...." 75px
    ".... .... ...." 525px
    ".... .... ...." auto
    ".... .... ...." 200px
    ".... .... ...." 200px
    ".... .... ...." 1fr
    ".... .... ...." 1fr
    / [left] 30px 1fr 30px [right];
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-bottom: 200px;
}
.hero-image {
  /* Top image styling */
  background-image: url("../images/emptycinemagradient.jpg");
  grid-column: left / right;
  grid-row: 1 / span 2;
  background-position: 51%;
  height: 600px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
}
.homebanner {
  grid-area: 2 / 2;
  display: flex;
  flex-flow: column;
  justify-self: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.homebanner h1 {
  width: 200px;
  max-height: 100px;
  flex: auto;
  text-align: center;
}
.homebanner p {
  max-width: 350px;
  flex: auto;
  max-height: 150px;
  text-align: center;
  widows: 3;
}
.bannerbuttons-container {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
.cta {
  font-size: 1.6rem;
  width: 200px;
  padding: 20px;
  margin: 6px;
}
.homebrowse {
  grid-area: 3 / 1 / 4 / 4;
  display: grid;
  text-align: center;
  grid-template: 70px auto / 30px 1fr 30px;
  justify-items: center;
  justify-content: center;
  align-items: start;
  grid-gap: 10px 0;
}
.homebrowse h2 {
  font-size: 2.5rem;
  grid-area: 1 / 1 / 4 / 4;
  height: 100%;
  background: rgb(20, 20, 20);
  padding-top: 40px;
  width: 100%;
  box-shadow: 0 -20px 5px rgba(20, 20, 20, 1); /* To cover up a weird line on the bottom of banner */
}
.browseflex {
  grid-area: 2 / 2;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-content: flex-start;
  height: auto;
  margin: 0;
  padding: 0;
  max-width: 715px; /* Max width to avoid orphans when unwrapping */
}
.browseimage {
  display: flex; /* Using flex to align text, and to more easily move it in breakpoints */
  flex-flow: row;
  justify-content: stretch;
  align-items: stretch;
  margin-top: 15px;
  border-radius: 3px;
  width: 300px;
  height: 66px;
  background-repeat: no-repeat;
  background-color: var(--blacker);
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in;
}
.browseimage > span {
  /* Made the text an element for positioning*/
  /* Also giving the element a semi-transparent backdrop to cover the image*/
  font-weight: 500;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px var(--black);
  border-radius: 3px;
  padding-top: 5px;
  padding-left: 25px;
  background-color: rgba(27, 27, 27, 0.3);
  transition: transform 0.5s ease-in;
}
.browseimage.dramas {
  background-image: url("../images/films/angryman.jpg");
  background-position: 50% 15%;
}
.browseimage.docu {
  background-image: url("../images/films/turtle.jpg");
  background-position: right bottom;
}
.browseimage.action {
  background-image: url("../images/films/boxerman.jpg");
}
.browseimage.comedy {
  background-image: url("../images/films/hazmat.jpg");
  background-position: 50% 20%;
}
.browseimage.animat {
  background-image: url("../images/films/toyfigurine.jpg");
  background-position: 50% 30%;
}
.browseimage.artf {
  background-image: url("../images/films/aquadrop.jpg");
  background-position: center;
}
.browseimage.shortf {
  background-image: url("../images/films/skyscraper.jpg");
}
.browseimage.staffp {
  background-image: url("../images/films/banana.jpg");
  background-position: center;
}
.browseimage:hover,
.browseimage:focus {
  transform: scale(1.05);
  box-shadow: 1px 1px 3px var(--blue), -1px -1px 3px var(--blue);
}
.browseimage:focus > span,
.browseimage:hover > span {
  background-color: transparent;
  transform: scale(1.03);
}
.section-passion {
  grid-area: 6 / 1 / 7 / 4;
  justify-self: center;
}
.section-learnmore {
  grid-area: 7 / 1 / 8 / 4;
  justify-self: center;
}
.homebottom {
  padding-bottom: 100px;
  margin-bottom: 150px;
  width: 100%;
  max-width: 1738px;
  background-color: var(--blacker);
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 10px 10px 25px rgba(48, 48, 48, 0.8),
    -10px -10px 25px rgba(48, 48, 48, 0.8);
}
.homebottom h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
  white-space: nowrap;
}
.homebottom p {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.2;
  width: 250px;
}
.homebottom a {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--blue);
}
.homebottom a:hover,
.homebottom a:focus {
  color: white;
}

.homebottom-text a::after {
  content: " \02C3";
  transition: padding-left 0.5s ease-in-out;
}
.homebottom a:hover:after {
  padding-left: 20px;
  text-decoration: none;
}
.homebottom-text {
  display: flex;
  flex-flow: column;
  padding: 20px 30px;
  margin-top: 40px;
}
.homebottom-text p:last-of-type {
  margin-bottom: 60px;
}
.homebottom-image {
  flex: 1 1 100%;
}

.section-passion img,
.section-learnmore img {
  width: 100%;
  box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.6);
  height: 215px;
  object-fit: cover;
}
.section-passion img {
  object-position: 50% 20%;
}
.pagesplit {
  grid-area: 4 / left / 5 / right;
  background-image: url(../images/curve.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.backdrop-square {
  display: none;
  position: absolute;
  width: 488px;
  height: 488px;
  transform: matrix(0.74, -0.67, 0.67, 0.74, 0, 0);
  background: var(--blacker) 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 6px #00000029;
}
.backdrop-square.top {
  top: 1500px;
  left: 200px;
}
.backdrop-square.middle {
  top: 2300px;
  right: 200px;
}
.backdrop-square.bottom {
  top: 3200px;
  left: 200px;
}
/*-------- TOP --------*/

/*-------- TOP END-----*/

/*-------- BOTTOM --------*/
/*-------- BOTTOM END-----*/

/* ------------------------------- */
/*            HOME END             */
/* ------------------------------- */

/* ------------------------------- */
/*            FILMS                */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            FILMS END            */
/* ------------------------------- */

/* ------------------------------- */
/*            SEARCH               */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            SEARCH END           */
/* ------------------------------- */

/* ------------------------------- */
/*            ACCOUNT              */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            ACCOUNT END          */
/* ------------------------------- */

/* ------------------------------- */
/*            SIGNUP 4WHAT         */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            SIGNUP 4WHAT END     */
/* ------------------------------- */

/* ------------------------------- */
/*            SIGNUP REG           */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            SIGNUP REG END       */
/* ------------------------------- */

/* ------------------------------- */
/*            SIGNUP FILM          */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            SIGNUP FILM END      */
/* ------------------------------- */

/* ------------------------------- */
/*            LOGIN                */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            LOGIN END            */
/* ------------------------------- */
/* To prevent account menu from staying open if screen size is changed */
@media only screen and (max-width: 499px) {
  #dropdown-menu:not(:checked) ~ ul.accountnav {
    display: none;
  }
}
/* ------------------------------- */
/* MEDIA QUERIES LANDSCAPE         */
/* ------------------------------- */

@media only screen and (min-width: 500px) {
  /* ---------- FONT SIZES -------------- */

  /*-------- HEADER --------*/
  .nav-container {
    grid-template-rows: 80px 60px 2px minmax(200px, min-content);
    grid-template-columns: [left] 14px 60px 100px 50px 1fr min-content 90px 14px [right];
    grid-template-areas:
      ".      bars   logo   logo  .... signin user  ....."
      "search search search ..... .... ...... usnav usnav"
      "ruler  ruler  ruler  ..... .... ...... usnav usnav"
      "nav    nav    nav    ..... .... ...... ..... .....";
  }

  #accountdrop:checked ~ .accountnav {
    grid-area: usnav;
    justify-self: end;
    padding-bottom: 0;
  }
  .searchbar {
    padding: 0 14px;
  }
  .usersettings {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 31px;
    background: 0;
    padding: 0;
    padding-left: 20px;
    margin-top: 10px;
    justify-content: end;
  }
  .accountnav {
    border-radius: 0 0 0 3px;
  }
  .accountnav > li:nth-child(3) > a:nth-child(1) {
    border-radius: 0 0 0 3px;
  }

  /*-------- HEADER END-----*/

  /*-------- FOOTER --------*/
  /*-------- FOOTER END-----*/

  /*-------- HOME --------*/
  .homebanner h1 {
    width: 100%;
  }

  .bannerbuttons-container {
    justify-content: center;
    margin-top: 0;
  }
  .homebottom h2 {
    font-size: 3.5rem;
  }
  .homebottom p {
    width: 100%;
  }
  /*-------- HOME END-----*/

  /*-------- FILMS --------*/
  /*-------- FILMS END-----*/

  /*-------- SEARCH --------*/
  /*-------- SEARCH END-----*/

  /*-------- SIGNUP 1-3 ----*/
  /*-------- SIGNUP 1-3 END-*/

  /*-------- LOGIN --------*/
  /*-------- LOGIN END-----*/

  /*-------- ACCOUNT --------*/
  /*-------- ACCOUNT END-----*/
}
/* ------------------------------- */
/*  MEDIA QUERIES LANDSCAPE END    */
/* ------------------------------- */

/* ------------------------------- */
/*      MEDIA QUERIES 768px        */
/* ------------------------------- */
@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 5.5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  .homebrowse h2 {
    /* This used to be a h3, but I changed it to h2 since it's immediately after h1, and gave it the same size */
    font-size: 3.5rem;
  }
  p {
    font-size: 2rem;
  }

  /*-------- HEADER --------*/
  .nav-container {
    grid-template-rows: 80px min-content;
    grid-template-columns: [left] 14px 60px 100px 50px 1fr min-content min-content 90px 14px [right];
    grid-template-areas:
      ".      bars   logo   logo  ..... search signin user ....."
      "nav    nav    nav    ..... ..... ...... ..... usnav usnav";
    overflow-y: auto;
  }
  div.searchbar.nav-hide {
    display: flex;
    justify-self: end;
    justify-content: end;
    align-self: center;
    align-items: center;
    background: 0;
    height: 31px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 0;
  }
  #dropdown-menu:checked ~ hr.nav-hide {
    display: none;
  }
  ul.navbuttons {
    padding: 0;
  }

  /*-------- HEADER END-----*/

  /*-------- FOOTER --------*/
  .footer-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-top-blocks {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-top .footer-block {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
  }

  .footer-block li:nth-of-type(2) {
    margin-left: 0;
  }
  .footer-top-blocks ul:nth-of-type(2),
  .footer-top-blocks ul:nth-of-type(3) {
    padding-top: 0;
  }
  /*-------- FOOTER END-----*/

  /*-------- HOME --------*/
  .homebanner p {
    max-width: 500px; /* For text wrapping */
  }
  .homebrowse h2 {
    padding-top: 20px;
  }
  .homebottom {
    padding-bottom: 0;
    height: auto;
    max-width: 1738px;
    max-height: 651px;
    justify-content: center;
    align-items: stretch;
    flex-flow: column wrap;
  }
  .homebottom-text {
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    height: 100%;
    width: 56.9%;
    margin: 0;
    padding-top: 116px;
  }
  .homebottom-text > * {
    flex-basis: 100%; /* To make everything wrap */
    max-width: 562px;
  }
  .homebottom-text h2 {
    align-self: flex-start;
    margin-bottom: 33px;
  }
  .passion .homebottom-text {
    margin-left: min(10vw, 211px);
    padding: 0;
  }
  .learnmore .homebottom-text {
    margin-left: min(8vw, 157px);
    padding: 0;
  }
  .homebottom-text p {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .passion,
  .learnmore {
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .learnmore {
    flex-flow: row-reverse;
  }
  .passion > div:nth-child(1),
  .learnmore > div:nth-child(1) {
    align-self: flex-start;
  }
  .section-passion img,
  .section-learnmore img {
    height: 651px;
    width: 100%;
    max-width: 753px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  }
  .section-learnmore img {
    box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.6);
  }
  .homebottom-image {
    flex: 1 1 44.1%;
    max-height: 651px;
  }
  /*-------- HOME END-----*/

  /*-------- FILMS --------*/
  /*-------- FILMS END-----*/

  /*-------- SEARCH --------*/
  /*-------- SEARCH END-----*/

  /*-------- SIGNUP 1-3 ----*/
  /*-------- SIGNUP 1-3 END-*/

  /*-------- LOGIN --------*/
  /*-------- LOGIN END-----*/

  /*-------- ACCOUNT --------*/
  /*-------- ACCOUNT END-----*/
}
/* ------------------------------- */
/*      MEDIA QUERIES 768px END    */
/* ------------------------------- */

/* ---------------------------------------- */
/*     MEDIA QUERIES 1024px+                */
/* -----------------------------------------*/
@media only screen and (min-width: 1024px) {
  /*-------- HEADER --------*/
  .nav-container {
    grid-template-rows: 80px min-content;
    grid-template-columns: [left] 40px 60px 100px 50px 1fr min-content min-content 90px 40px [right];
    grid-template-areas:
      "....   logo   logo   nav   nav   search signin user  ....."
      "....   ....   ....   ..... ..... ...... ...... usnav usnav";
    overflow-y: hidden;
  }

  nav label.hamburger {
    display: none;
  }
  .logo-parent {
    justify-self: start;
  }

  ul.navbuttons.nav-hide {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 78px;
  }
  ul.navbuttons a {
    width: 100%;
    padding: 34px 15px 20px 15px;
    border-bottom: none;
  }
  .navbuttons a:hover,
  .navbuttons a:focus {
    border-left: none;
    background-color: var(--black);
    box-shadow: 0 2px 0 white;
  }
  ul.navbuttons a.active {
    box-shadow: none;
    background-color: var(--transwhite);
  }
  ul.navbuttons > li:first-child > a {
    border-top: none;
  }
  .searchbar input:focus {
    width: 150px;
  }
  /*-------- HEADER END-----*/

  /*-------- FOOTER --------*/
  .footer-top-blocks {
    justify-content: space-around;
  }
  /*-------- FOOTER END-----*/

  /*-------- HOME --------*/
  .home-container {
    display: grid;
    grid-template:
      ".... .... ...." 75px
      ".... .... ...." 525px
      ".... .... ...." auto
      ".... .... ...." 200px
      ".... .... ...." 200px
      ".... .... ...." 1fr
      ".... .... ...." 1fr
      / [left] 30px 1fr 30px [right];
    overflow: hidden;
  }

  .browseflex {
    width: 100%;
    justify-content: space-between;
    max-width: 1000px;
  }

  .browseimage {
    justify-content: stretch;
    align-items: flex-end;
    width: 221px;
    height: 142px;
  }
  .browseimage span {
    text-align: center;
    padding-top: 110px;
    padding-left: 0;
    height: 142px;
    width: 221px;
  }
  .homebrowse h2 {
    padding-top: 30px;
  }
  .cta {
    font-size: 1.8rem;
    width: auto;
    padding: 20px 40px;
  }
  .transbutton.cta {
    padding-top: 19px; /* <-- I have no idea why I have to do this but it won't align if not */
    padding-bottom: 23px; /* height adjust due to box shadow on other button */
  }
  .section-passion {
    grid-area: 6 / 2 / 7 / 3;
  }
  .section-learnmore {
    grid-area: 7 / 2 / 8 / 3;
  }
  .homebottom h2 {
    font-size: 4rem;
  }
  /*-------- HOME END-----*/

  /*-------- FILMS --------*/
  /*-------- FILMS END-----*/

  /*-------- SEARCH --------*/
  /*-------- SEARCH END-----*/

  /*-------- SIGNUP 1-3 ----*/
  /*-------- SIGNUP 1-3 END-*/

  /*-------- LOGIN --------*/
  /*-------- LOGIN END-----*/

  /*-------- ACCOUNT --------*/
  /*-------- ACCOUNT END-----*/
}
/* ------------------------------- */
/*    MEDIA QUERIES 1024px END     */
/* ------------------------------- */

/*--------------------------------*/
/*   MEDIA QUERIES DESKTOP        */
/*--------------------------------*/
@media only screen and (min-width: 1366px) {
  /*-------- HOME --------*/
  .home-container {
    display: grid;
    grid-template:
      ".... .... ...." 75px
      ".... .... ...." 675px
      ".... .... ...." auto
      ".... .... ...." 200px
      ".... .... ...." 450px
      ".... .... ...." 1fr
      ".... .... ...." 1fr
      / [left] 30px 1fr 30px [right];
    overflow: hidden;
  }
  .hero-image {
    background-image: url("../images/homebannercurve.jpg"); /* I put the damn bezier curve on this so even if it's only on desktop I'm still using it */
    height: 100%;
    max-height: 1680px;
    grid-row: 1 / span 6;
    filter: blur(0);
  }
  .homebanner h1 {
    margin-top: 75px;
  }
  .browseflex {
    width: 100%;
    justify-content: space-between;
    max-width: 1000px;
  }
  .homebrowse h2 {
    grid-area: 1 / 1 / 4 / 4;
    padding-top: 30px;
    height: initial;
    background: transparent;
    background: initial;
    box-shadow: initial;
  }
  .pagesplit {
    display: none;
  }
  .passion {
    grid-area: 7 / 2;
  }
  .learnmore {
    grid-area: 8 / 2;
  }
  .homebottom {
    box-shadow: none;
    box-shadow: 10px 10px 25px rgba(48, 48, 48, 0.8);
  }
  .backdrop-square {
    display: inline-block;
  }
  .homebottom h2 {
    font-size: 5.5rem;
  }

  /*-------- HOME END-----*/

  /*-------- FILMS --------*/
  /*-------- FILMS END-----*/

  /*-------- SEARCH --------*/
  /*-------- SEARCH END-----*/

  /*-------- SIGNUP 1-3 ----*/
  /*-------- SIGNUP 1-3 END-*/

  /*-------- LOGIN --------*/
  /*-------- LOGIN END-----*/

  /*-------- ACCOUNT --------*/
  /*-------- ACCOUNT END-----*/
}
/*--------------------------------*/
/*   MEDIA QUERIES DESKTOP END    */
/*--------------------------------*/
