/* ------------------------------- */
/* --------Universal Fixes-------- */
/* ------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

html {
  box-sizing: border-box; /* Universal Border Box with inheritance part 1 */
  font-size: 62.5% !important; /* for easier math with 10px assuming a 16px default size */
}
*,
*:before, /* Universal Border Box with inheritance part 2*/
*:after {
  box-sizing: inherit;
}

:root {
  --black: #212120;
  --blacker: #141414;
  --transblacker: rgba(20, 20, 20, 0.8);
  --blue: #3da4e0;
  --red: #ff3137;
  --transwhite: rgba(255, 255, 255, 0.6);
  --roboto: "Roboto", Arial, sans-serif;
  --montserrat: "Montserrat", Verdana, sans-serif;
}
body {
  background-color: var(--black);
  margin: 0; /* to prevent scrollbars */
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 2rem;
  color: white;
}
h1,
h2 {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 5.5rem;
  color: white;
}
h3 {
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 3.5rem;
  color: white;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}
.redbutton {
  background-color: var(--red);
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(255, 49, 55, 0.72);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.11rem;
  text-align: center;
  white-space: nowrap;
}
.redbutton:hover,
.redbutton:focus {
  background-color: white;
  color: var(--red);
  border: 1px solid var(--red);
  transform: translateY(3px); /* to compensate for loss of box-shadow */
  box-shadow: none;
}

/* ------------------------------- */
/*        Universal Fixes End      */
/* ------------------------------- */

/* ------------------------------- */
/*               Header            */
/* ------------------------------- */

nav.nav-container {
  display: grid;
  grid: 75px auto / 100%;
  grid-template-areas:
    "topbar"
    "......";
  gap: 0px 15px;
  margin-top: -2px;
  position: fixed; /*  I decided to use fixed to make the dropdown simply overlap rather than move
                       elements out of the way when activated at the top of the page */
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  align-content: stretch;
  padding: 0;
}

.headerblock {
  /* To occupy header space so I can be lazy*/
  height: 75px;
  width: 100%;
}

.topbar {
  background-color: var(--blacker);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  grid-area: topbar;
  padding: 10px 14px;
  height: 75px;
  width: 100%;
  border-bottom: 2px solid var(--transwhite);
}

.topbar .searchbar {
  display: none;
}

.logo {
  width: auto;
  margin-left: 30px;
  margin-bottom: -5px;
  height: 55px;
}

.hamburger {
  font-size: 46px;
  height: 46px;
  cursor: pointer;
}

i.fas.fa-bars {
  padding: 0;
}

a.signin {
  width: 90px;
  padding: 5px 0;
  font-size: 16px;
  margin-bottom: 3px; /* Box-shadow adjustment */
  margin-left: auto;
}

/*------------ NAV STUFF ------------------*/
/* SEARCH */
.searchbar input {
  font-family: var(--roboto);
  background-color: var(--black);
  border: none;
  border-radius: 3px;
  padding-left: 5px;
  width: 86px;
  height: 30px;

  color: white;
  letter-spacing: 0.008rem;
}
/* Placeholder text will not inherit font-family, so I'm forcing it to */
.searchbar input::placeholder {
  font-family: var(--roboto);
  font-weight: 300;
  color: rgba(255, 255, 255, 0.56);
  letter-spacing: 0.008rem;
}
div.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
  border-radius: 3px;
  width: 129px;
  height: 32px;
  margin: 14px 0 0 14px;
  background-color: var(--black);
}
.searchbar a {
  font-size: 18px;
  color: #707070;
  background-color: var(--blacker);
  border-left: 1pt solid #707070;
  border-radius: 0 3px 3px 0;
  padding: 5px 10px;
  align-self: stretch;
}
.searchbar a:hover,
.searchbar a:focus {
  color: white;
}
/* SEARCH END */

/* Checkbox hacks + container styling */
#dropdown-menu,
#accountdrop,
#accountdroptop {
  display: none;
}
div.dropdown,
.accountnav {
  display: none;
}

#dropdown-menu:checked ~ div.dropdown {
  display: block;
  grid-area: 2;
  justify-self: start;
  padding: 0;
  background-color: var(--blacker);
  border-radius: 0 0 3px 0;
  height: 81.25vh; /* To ensure the nav menu is scrollable if there is insufficient height */
  max-height: 492px; /* To ensure it doesn't grow beyond what it actually contains */
  overflow-y: scroll;
}

#dropdown-menu:checked ~ .topbar {
  background-color: var(
    --blacker
  ); /* Removing transparency on the top-bar when nav menu is open, for consistency, as a transparent dropdown isn't very nice, and background-filter doesn't work on all browsers yet */
}
.dropdown hr {
  border: 1px solid gray;
  opacity: 0.4;
}

ul.navbuttons,
#accountdrop:checked ~ .accountnav,
#accountdroptop:checked ~ .accountnav {
  display: flex;
  flex-flow: column;
  padding-left: 0;
  margin-bottom: 5px;
}
ul.topnav {
  display: none;
}
ul.accountnav {
  margin-bottom: 20px;
}
ul.dropnav {
  margin-top: 20px;
}

/* making the arrow flip when account menu is open */
.fas.fa-angle-up {
  display: none;
}
#accountdrop:checked ~ .usersettings > .fas.fa-angle-up,
#accountdroptop:checked ~ .usersettings > .fas.fa-angle-up {
  display: block;
}
#accountdrop:checked ~ .usersettings > .fas.fa-angle-down,
#accountdroptop:checked ~ .usersettings > .fas.fa-angle-down {
  display: none;
}
/* Checkbox hacks + container styling END */

/* Navigation buttons styling */
.usersettings {
  display: flex;
  flex-flow: row;
  height: 32px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.fas.fa-user {
  margin-right: 10px;
  font-size: 20px;
  color: var(--black);
  background-color: white;
  padding: 4px 12px;
  border-radius: 4px;
}

.dropnav > li:first-child > a,
ul.accountnav > li:first-child > a {
  border-top: 0.5px solid var(--black);
}

.dropnav a,
ul.accountnav a {
  display: block;
  color: var(--transwhite);
  width: 160px;
  padding: 10px 0 10px 40px;
  border-bottom: 0.5px solid var(--black);
}
.topnav a {
  color: var(--transwhite);
  padding: 35px 15px 15px 15px;
}

.dropnav a:hover,
.dropnav a:focus,
ul.accountnav a:hover,
ul.accountnav a:focus {
  color: white;
  border-left: 3px solid white;
}
.topnav a:hover,
.topnav a:focus {
  color: white;
  background-color: var(--black);
  box-shadow: 0 2px 0 white;
}
ul.navbuttons a.active {
  color: var(--blacker);
  background-color: var(--transwhite);
  border-left: none;
  box-shadow: none;
}

/* ------------------------------- */
/*            Header END           */
/* ------------------------------- */

/* ------------------------------- */
/*            Footer               */
/* ------------------------------- */
/* ------------------------------- */
/*            Footer END           */
/* ------------------------------- */

/* ------------------------------- */
/*       PAGE SPECIFIC CONTENT     */
/* ------------------------------- */

/* ------------------------------- */
/*               HOME              */
/* ------------------------------- */

/*-------- MAIN --------*/

/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            HOME END             */
/* ------------------------------- */

/* ------------------------------- */
/*            FILMS                */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            FILMS END            */
/* ------------------------------- */

/* ------------------------------- */
/*            SEARCH               */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            SEARCH END           */
/* ------------------------------- */

/* ------------------------------- */
/*            ACCOUNT              */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            ACCOUNT END          */
/* ------------------------------- */

/* ------------------------------- */
/*            SIGNUP 4WHAT         */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            SIGNUP 4WHAT END     */
/* ------------------------------- */

/* ------------------------------- */
/*            SIGNUP REG           */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            SIGNUP REG END       */
/* ------------------------------- */

/* ------------------------------- */
/*            SIGNUP FILM          */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            SIGNUP FILM END      */
/* ------------------------------- */

/* ------------------------------- */
/*            LOGIN                */
/* ------------------------------- */

/*-------- MAIN --------*/
/*-------- MAIN END-----*/

/*-------- ASIDE --------*/
/*-------- ASIDE END-----*/

/* ------------------------------- */
/*            LOGIN END            */
/* ------------------------------- */

/* ------------------------------- */
/* MEDIA QUERIES LANDSCAPE         */
/* ------------------------------- */

@media only screen and (min-device-width: 500px) and (max-device-width: 1023px) {
  /*-------- HEADER --------*/

  /* This is me being pedantic and allowing all the main navigation buttons to be visible without having to scroll in landscape on smartphones. Not using orientation: landscape, as I set the breakpoint to where these changes would fit regardless */

  .topbar .searchbar {
    /* Enabling searchbar in the topbar to clean up space in dropdown, making all nav buttons visible on 360px height and above */
    display: flex;
    margin-left: auto; /* Also moving it to the right side with the sign-in button */
  }
  .dropdown .searchbar {
    /* disabling search in the dropdown */
    display: none;
  }
  a.signin {
    margin-left: 20px;
  }
  /*-------- HEADER END-----*/
}

/*-------- FOOTER --------*/
/*-------- FOOTER END-----*/

/*-------- HOME --------*/
/*-------- HOME END-----*/

/*-------- FILMS --------*/
/*-------- FILMS END-----*/

/*-------- SEARCH --------*/
/*-------- SEARCH END-----*/

/*-------- SIGNUP 1-3 ----*/
/*-------- SIGNUP 1-3 END-*/

/*-------- LOGIN --------*/
/*-------- LOGIN END-----*/

/*-------- ACCOUNT --------*/
/*-------- ACCOUNT END-----*/

/* ------------------------------- */
/*  MEDIA QUERIES LANDSCAPE END    */
/* ------------------------------- */

/* ------------------------------- */
/*      MEDIA QUERIES 768px        */
/* ------------------------------- */
@media only screen and (min-device-width: 1024px) {
} /*-------- HEADER --------*/
/* Here I want the nav buttons to appear on the top-bar*/
ul.topnav {
  display: flex;
  flex-flow: row;
  margin-left: 60px;
}
/*-------- HEADER END-----*/

/*-------- FOOTER --------*/
/*-------- FOOTER END-----*/

/*-------- HOME --------*/
/*-------- HOME END-----*/

/*-------- FILMS --------*/
/*-------- FILMS END-----*/

/*-------- SEARCH --------*/
/*-------- SEARCH END-----*/

/*-------- SIGNUP 1-3 ----*/
/*-------- SIGNUP 1-3 END-*/

/*-------- LOGIN --------*/
/*-------- LOGIN END-----*/

/*-------- ACCOUNT --------*/
/*-------- ACCOUNT END-----*/

/* ------------------------------- */
/*      MEDIA QUERIES 768px END    */
/* ------------------------------- */

/* ------------------------------- */
/*     MEDIA QUERIES DESKTOP       */
/* ------------------------------- */

/*-------- HEADER --------*/
/*-------- HEADER END-----*/

/*-------- FOOTER --------*/
/*-------- FOOTER END-----*/

/*-------- HOME --------*/
/*-------- HOME END-----*/

/*-------- FILMS --------*/
/*-------- FILMS END-----*/

/*-------- SEARCH --------*/
/*-------- SEARCH END-----*/

/*-------- SIGNUP 1-3 ----*/
/*-------- SIGNUP 1-3 END-*/

/*-------- LOGIN --------*/
/*-------- LOGIN END-----*/

/*-------- ACCOUNT --------*/
/*-------- ACCOUNT END-----*/

/* ------------------------------- */
/*    MEDIA QUERIES DESKTOP END    */
/* ------------------------------- */
